/* common */
body{background-color:#333;color:#333;}
input,textarea{color:#333}
.hide{display:none}
body.x-desktop{font-size:163%}/*override*/
/* userfield */
.x-more-icon{position:absolute;display:none;top:0.5em;right:0;width:1.4em;height:2.2em;color:#999;text-align:center;-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg)}
.more-able{padding-right:2.2em}
.more-able .x-more-icon{display:block;background:url(../img/list-arrow.png) no-repeat 0 84%;background-size:contain}
.user-list{position:absolute;width:100%;max-height:340px;overflow:auto;background-color:#F1F1F1;border-left:1px solid #ddd;border-right:1px solid #ddd;z-index:2;}
.user-list .user-item{position:relative;height:68px;line-height:68px;padding-left:.3em;border-bottom:1px solid #ddd;text-align:left;}
.user-list .user-item .clear-icon{display:block;position:absolute;top:0;right:0.3em;font-family: "Pictos";font-size:1.4em;color:#D9D9D9}
.user-list .user-item .clear-icon:before{content:"D";}
.x-form-fieldset .x-form-fieldset-inner{overflow:visible;}/*override*/
.x-field-input .x-clear-icon{background:none;width:1.3em;line-height:2.2em;font-family: "Pictos";font-size:1.4em;color:#D9D9D9}/*override*/
.x-field-input .x-clear-icon:before{content:"D";}/*override*/

.card1,.card2,.card3,.card4,.user{font-size:.6em}
.card2 .x-toolbar,.card3 .x-toolbar{font-size:1.3em;}

/*for test*/
.tab-content .x-inner{background-image:url(../img/720.png);background-repeat: no-repeat;background-size:cover}
body.x-desktop .tab-content .x-inner{background-size:480px;}

/* tabbar @class  */
.x-tabbar.x-docked-bottom .x-tab{padding-top:0}/* override */
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.news-icon,
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.user-icon,
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.social-icon,
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.more-icon,
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.person-icon{width:100%;background:url(../img/tabbar.png);background-size: cover;}/* override */
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.news-icon{}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.person-icon{background-position: 50% 0;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.user-icon{background-position: 76% 0;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.social-icon{background-position: 26% 0;}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon.more-icon{background-position: 101% 0;}

/* override */
.x-tabbar-inner .x-tab.x-tab-icon .x-button-label{display:none;/*font-size:.7em;line-height: .7em;*/}
.x-tabbar.x-docked-bottom{height:2.7em}
.x-tab{width:3.5em;}

.x-tabbar.x-docked-bottom .x-tab .x-button-icon{font-size:1.3em}
.x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge{font-size: 1em;}
.x-picker{font-size: .7em;}
.x-picker .x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge{font-size: 1em;}

/* xiaoyuanzixun news */
.tab-header .x-inner{height:2.1em;line-height:2.1em;color:#eee;font-size:1.2em;font-weight:bold;text-align:center;}
.news-list{background-color:#eee;}

/* gerenzhongxin */
.person .person-content .x-scroll-container>.x-inner{background-image:url(../img/720-1.png);background-repeat: no-repeat;background-size:cover}
body.x-desktop .person .person-content .x-scroll-container>.x-inner{background-size:480px;}
.person .person-content,
.person .person-schedule,
.person .person-score,
.person .person-card{font-size:.6em;text-align:center}
.person .person-content .x-button{background:transparent;border:0 none;}
.scheduleBody .schedule_grid{margin-bottom:30px}
/* gerenzhongxin schedule */
.schedule_grid{width:100%}
.schedule_grid thead{font-weight:bolder}
.schedule_grid th{width:18px;text-align:center}
.schedule_grid thead tr{height:22px;
	background: #ddeef0;background: -moz-linear-gradient(top, #ddeef0 0%, #c2e1e4 85%, #c3e1e4 90%, #d7eaee 100%);
	background: -webkit-gradient(linear,center top,center bottom, from(#ddeef0),color-stop(85%,#c2e1e4),color-stop(90%,#c3e1e4),to(#d7eaee));
	background: -webkit-linear-gradient(top, #ddeef0 0%,#c2e1e4 85%,#c3e1e4 90%,#d7eaee 100%);
	color:#71AED7}
.schedule_grid tbody tr{height:48px;color:#333;}
.schedule_grid tbody tr th,.schedule_grid tbody tr td{border:1px solid #ccc;}
.schedule_grid tbody tr td{vertical-align: top;}
.schedule_grid .courseWrap{position:absolute;margin:2px;}
.schedule_grid .course{display:table-cell;border-radius:5px;vertical-align: middle;color:#eee;}
/* gerenzhongxin score */
.person .x-list-normal .x-list-item.x-list-item-tpl, .x-list-normal .x-list-item .x-dock-horizontal{border-top:0 none;}
.x-list .x-list-emptytext{color:#888;}
.score-each{box-shadow: 0 0 3px #777;line-height:1.7em;font-size:1.7em;text-align:center}
.score-each p{color:#296ABC}
.score-each .score-item-each{display:inline-block;width:50%;}
.score-each .score-item-each.left{border-top:4px solid #4DB07A;background-color:#E5FFF1}
.score-each .score-item-each.right{border-top:4px solid #E76F4E;background-color:#FFEBE5}
.score-each .score-item-each .lbl{color:#777}
#score-title{line-height: 1.8em;background-color:#D2F0FF;font-size: 1.4em;color:#296ABC}
#score-list.list-hidden .x-list-inner>.x-container{display:none;}
/* gerenzhongxin card */
.card-tip{color:#888}
.person-card .x-form-label span{font-size:1.2em}
#rest{margin:5px 20px 0;font-size:1.5em ;text-align:left;color:#7C7D7D}
.card-detail-block{width:18em;margin:9px auto;padding:8px 12px;border:1px solid #aaa;font-size:1.4em;line-height:1.4em;text-align:left;color:#797979}
.card-detail-block .jye{position: absolute;color:#333;}
.card-detail-block .kye{text-align:right}

/* user */
.user{background-color:#eee;font-size:1em;text-align:center;}
.user .x-form-fieldset{margin:2em 0.5em 0.5em 0.5em;min-height: 7em;}
.user .x-form-fieldset-instructions{margin: 0.3em;color:#00FF7F;}
.user .x-input-el{background-color:transparent}
.user .x-input-password:focus{outline:none}
.user .logout{margin: 0.6em 0.3em}
.user .login-lbl{color:#999}

/* more */
.more-cont{background-color:#F1F2E5}
.more-cont .x-button-label{background:url(../img/list-arrow.png) no-repeat 100% 0;background-size:contain;text-align:left}
.more-cont .x-button{border-radius:0;background:#eee;border-color:#ddd}
.more-cont .x-button.up{border-radius:0.2em 0.2em 0 0}
.more-cont .x-button.down{border-radius:0 0 0.2em 0.2em}

